.ani-load {
    background-color: #fff;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10000;
}
.atechload {
    animation: 1.5s linear normal none infinite running atechload;
    background: #21f006 none repeat scroll 0 0;
    border-radius: 50px;
    height: 50px;
    left: 50%;
    margin-left: -25px;
    margin-top: -25px;
    position: absolute;
    top: 50%;
    width: 50px;
}
.atechload::after {
    animation: 1.5s linear normal none infinite running atechload_after;
    border-color: #11cfff  transparent;
    border-radius: 80px;
    border-style: solid;
    border-width: 7px;
    content: "";
    height:80px;
    left: -15px;
    position: absolute;
    top: -15px;
    width: 80px;
}
@keyframes atechload {
0% {
    transform: rotate(0deg);
}

25% {
    background: #19ec05 none repeat scroll 0 0;
    transform: rotate(200deg);
}
50% {
    background: #f1e203 none repeat scroll 0 0;
    transform: rotate(160deg);
}
100% {
    background: white none repeat scroll 0 0;
    transform: rotate(360deg);
}
}



.atechload2 {
    animation: 1.5s linear 1s normal none infinite running atechload;
    background: #02e5f5 none repeat scroll 0 0;
    border-radius: 50px;
    height: 50px;
    left: 50%;
    margin-left: -25px;
    margin-top: -25px;
    position: absolute;
    top: 50%;
    width: 50px;
}


